body,
div,
ul,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: Avenir Next, Calibri, Helvetica, Roboto, sans-serif;
}